h1{
    text-align: center;
    font-family: 'Fantasy', sans-serif;
}

.navbar ul{
    list-style-type: none;
    background-color:rgb(31, 35, 35);
    overflow:hidden;
    margin: 0px;
    padding: 0px;
}
.navbar a{
  color:aliceblue;
    text-decoration: none; 
    padding:25px;
    display: block;
    text-align:center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}


